.statistics {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 560px;
  margin: 50px auto;
  text-align: center;
  padding-top: 30px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
}

.statList {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.statItem {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgba(216, 198, 211, 0.295);
}

.statItem:last-child {
  margin-right: 0;
  border-right: none;
}
