.transactionHistory {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px auto;
}
.transactionHistory th {
  padding: 10px;
  background-color: rgba(47, 142, 219, 0.781);
  border: 1px solid rgba(128, 128, 128, 0.144);
  color: white;
}
.transactionHistory td {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.144);
  color: rgba(128, 128, 128, 0.904);
}
.transactionHistory tbody tr:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.144);
}
